extends ../index.jade
  
block admin
  block nav
    +nav_item("/admin") Dashboard    
  block page
    ul.nav.nav-tabs
      li.active(role="presentation") 
        a(href="/admin/#{page}") Index
      if(sails.config.authorization.authorize_controller(page, 'create', req.user))
        li(role="presentation") 
          a(href="/admin/#{page}/new") Nuovo  
    h1.page-header.text-center #{page}        
    .table-responsive
      table.table
        thead
          tr 
            each field in sails.config.models_structure.getFields(page)
              th= field.name
            th Azioni
        tbody
          each result in results
            tr
              each field in sails.config.models_structure.getFields(page)
                if(field.name != 'password')
                  th= result[field.name]
                else
                  th private field
              th
                if(sails.config.authorization.authorize_resource(result, 'findone', req.user))                
                  a(href="/admin/#{page}/#{result.id}")
                    button.btn.btn-warning Dettagli
                if(sails.config.authorization.authorize_resource(result, 'destroy', req.user))
                  form(method="post" action="/admin/#{page}/#{result.id}" onsubmit="return confirm('Sei sicuro di voler eliminare?');")
                    input(type="hidden" name="_method" value="DELETE")
                    button.btn.btn-danger(type="submit") Elimina
                
      
