extends ../index.jade

block admin
  block nav
    +nav_item("/admin") Dashboard    
  block page
    ul.nav.nav-tabs
      li(role="presentation") 
        a(href="/admin/#{page}") Index
      li(role="presentation") 
        a(href="/admin/#{page}/new") Nuovo
      li.active(role="presentation") 
        a(href="/admin/#{page}/#{result.id}") Modifica  
    h1.page-header.text-center Modifica #{page}    
    .row
      .col-xs-8.col-xs-offset-2
        form(method="post" action="/admin/#{page}/#{result.id}" enctype="application/x-http-method-override")
          input(type="hidden" name="_method" value="PUT")
          each field in sails.config.models_structure.getFields(page)
            //- if field.name != 'password' && field.name != 'role'          
            if(previousData)
              if(field.infos.enum)
                label(for="#{field.name}")= field.name
                select.form-control(id="#{field.name}" name="#{field.name}")
                  each f in field.infos.enum       
                    if(f == previousData[field.name])
                      option(selected="")= f
                    else
                      option= f
              else
                if(field.infos.type === 'boolean')
                  +checkbox(field.name, field.name, field.name, previousData[field.name])  
                else    
                  if(previousData[field.name])
                    +input(field.infos.type, field.name, field.name, field.name, field.name,   previousData[field.name])
                  else
                    +input(field.infos.type, field.name, field.name, field.name, field.name,"")
                  if(err[field.name])
                    each e in err[field.name]
                      span.validation-error= i18n(e.rule)
                      br                             
            else      
              if(field.infos.type === 'boolen')
                +checkbox(field.name, field.name, field.name, result[field.name])
              else
                if(result[field.name])
                  +input(field.infos.type, field.name, field.name, field.name, field.name, result[field.name])
                else  
                  +input(field.infos.type, field.name, field.name, field.name, field.name, "")
                    
                  
          br
          +submit-success("Modifica")      
