mixin select(field, previousData)
  label(for="#{field.name}")= field.name
  if(previousData)
    select.form-control(id="#{field.name}" name="#{field.name}")  
      each f in field.infos.enum                
        if(f == previousData[field.name])
          option(selected="")= f
        else
          option= f 
  else
    select.form-control(id="#{field.name}" name="#{field.name}")  
      each f in field.infos.enum                
        option= f 

mixin selectAjax(fieldName, searchWith, previousData)
  label(for="#{fieldName}")= fieldName
  if(previousData)
    select.form-control(id="#{fieldName}" name="#{fieldName}")  
      option(required="" value="#{previousData.id}")= previousData[searchWith]
  else
    select.form-control(id="#{fieldName}" name="#{fieldName}")
    
  script(type='text/javascript').  
    $("##{fieldName}").select2({
      ajax: {
        url: '/#{fieldName}',
        dataType: "json",
        type: "GET",
        delay: 250,
        data: function (params) {
          var query = {
            '#{searchWith}': params.term,
            limit: 0,
            page: 1
          };
          // Query paramters will be ?search=[term]&page=[page]
          return query;
        },
        processResults: function (data) {
           return {
               results: $.map(data.data.results, function (item) {
                   return {
                       text: item['#{searchWith}'],
                       id: item.id
                   }
               })
           };
         }
      }
    });
    $.fn.select2.defaults.set("key", "value");
    
    
