mixin select(field)
  label(for="#{field.name}")= field.name
  select.form-control(id="#{field.name}" name="#{field.name}")
    each f in field.infos.enum                
      option= f  

mixin selectAjax(fieldName, searchWith)
  label(for="#{fieldName}")= fieldName
  select.form-control(id="#{fieldName}" name="#{fieldName}")
  script(type='text/javascript').  
    $("##{fieldName}").select2({
      ajax: {
        url: '/#{fieldName}',
        dataType: "json",
        type: "GET",
        delay: 250,
        data: function (params) {
          console.log(params);
          var query = {
            '#{searchWith}': params.term,
            limit: 0,
            page: 1
          };
          // Query paramters will be ?search=[term]&page=[page]
          return query;
        },
        processResults: function (data) {
           return {
               results: $.map(data.data.results, function (item) {
                   return {
                       text: item['#{searchWith}'],
                       id: item.id
                   }
               })
           };
         }
      }
    });
    
