//- barra in alto 
mixin navCustom(user)
  nav
    +navbar("CMS metadati","dropdown_menu")
      +nav_item("/admin") Dashboard
      +nav_item("/admin/account/"+user.id)= user.email
      +nav_item("/signout") Log out
      
//- menù laterale      
mixin menu(user, page)
  ul.nav.nav-pills.nav-stacked
    each model in sails.config.fields_helper.modelList
      if(sails.config.authorization.authorize_controller(model, 'find', user))
        if page == model
          li.active(role="presentation")
            a(href="/admin/"+model)= model                  
        else
          li(role="presentation")                
            a(href="/admin/"+model)= model

//- tab sezioni per modello, index, details, edit ecc
mixin navtabsCustom(page, user, current)
  ul.nav.nav-tabs
    case current
      when 'index'        
        li.active(role="presentation") 
          a(href="/admin/#{page}") Index
        if(sails.config.authorization.authorize_controller(page, 'create', req.user))
          li(role="presentation") 
            a(href="/admin/#{page}/new") Nuovo 
      when 'new'        
        li(role="presentation") 
          a(href="/admin/#{page}") Index
        if(sails.config.authorization.authorize_controller(page, 'find', req.user))  
          li.active(role="presentation") 
            a(href="/admin/#{page}/new") Nuovo 
      when 'edit'        
        li(role="presentation") 
          a(href="/admin/#{page}") Index
        if(sails.config.authorization.authorize_controller(page, 'find', req.user))  
          li(role="presentation") 
            a(href="/admin/#{page}/new") Nuovo 
        if(sails.config.authorization.authorize_controller(page, 'edit', req.user))  
          li.active(role="presentation") 
            a(href="/admin/#{page}/edit/"+req.record.id) Modifica 
        if(sails.config.authorization.authorize_controller(page, 'findone', req.user))  
          li(role="presentation") 
            a(href="/admin/#{page}/"+req.record.id) Dettagli 
      when 'show'        
        li(role="presentation") 
          a(href="/admin/#{page}") Index
        if(sails.config.authorization.authorize_controller(page, 'find', req.user))  
          li(role="presentation") 
            a(href="/admin/#{page}/new") Nuovo 
        if(sails.config.authorization.authorize_controller(page, 'edit', req.user))  
          li(role="presentation") 
            a(href="/admin/#{page}/edit/"+req.record.id) Modifica 
        if(sails.config.authorization.authorize_controller(page, 'findone', req.user))  
          li.active(role="presentation") 
            a(href="/admin/#{page}/"+req.record.id) Dettagli 

include index.jade
include inputs.jade
include forms.jade
//- mixins vari di jade-bootstrap + layout
include ../../../node_modules/jade-bootstrap/_bootstrap.jade
